.globalExpensesHistory {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    background-color: var(--fundo-card);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3rem;
    padding: 2rem;
    overflow-y: auto;
    
}
::-webkit-scrollbar {
    width: 5px;
    position: fixed;
    right: 0;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--cinza-secundario);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-track {
    border-radius:4px;

}
